@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Monoton&family=Rasa:wght@300;400;500;600&family=Ubuntu+Mono:wght@400;700&family=Rajdhani:wght@300;400;500;600&display=swap');

body{
    cursor: none;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(225,225,225,1) 0%, rgba(255,255,255,1) 100%);
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body.dark_mode{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(35,35,35,1) 100%);
}
body::-webkit-scrollbar{
    display: none;
}
body.scroll_fix{
    overflow: hidden;
}
.loader_wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
.effect{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.slide_effect{
	width: 100%;
	height: 50%;
	transition: 1s;
	background-color: rgb(20, 20, 20);
}
.loader{
    font-family: 'Rasa', serif;
    color: rgba(255, 255, 255, 0.1);
    font-size: 60px;
    position: relative;
    text-indent: 17px;
/*     width: 120px; */
    letter-spacing: 25px;
    padding: 7px;
    box-sizing: border-box;
    font-weight: 500;
    border-bottom: 5px solid rgba(255, 255, 255, 0.1);
}
.loader:before{
    content: 'CYJ';
    position: absolute;
    top: 0;
    left: 0;
/*     width: 115px; */
    padding: 7px;
    color: #39A0FF;
    text-shadow: 0px 0px 3px rgba(57, 160, 255, 0.7), 0px 0px 15px rgba(57, 160, 255, 0.3), 0px 0px 20px rgba(57, 160, 255, 0.5);
    border-bottom: 5px solid #39a0ff;
    overflow: hidden;
    opacity: 0;
    animation: loadingAnimate 1.5s infinite linear;
}
@keyframes loadingAnimate{
    0%{
        opacity: 0;
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
#cursor{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #909090;
    box-sizing: border-box;
    transition: .1s;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    z-index: 99;
/*     background: red; */
}
#cursor.select{
    width: 120px;
    height: 120px;
    border: 2px dashed #909090;
    animation: cursorAnimate 10s linear infinite;
}
#cursor.point{
    width: 300px;
    height: 300px;
    border: 2px dashed #909090;
    animation: cursorAnimate 10s linear infinite;
}
#cursor.hide{
    display: none;
}
#cursor span{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #909090;
    text-shadow: 3px 3px 1px white;
    position: absolute;
    left: 0;
    transform-origin: top left;
}
#cursor span.hide{
    display: none;
}
@keyframes cursorAnimate{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#nav_bg{
    position: fixed;
    width: 100%;
    height: 70px;
    background: rgba(0,0,0, 0.75);
    color: white;
    z-index: 3;
}
#nav_bg.view_portfolio{
    position: absolute;
    z-index: -1;
}
#nav_inner{
    position: relative;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    line-height: 70px;
/*     background: red; */
}
#logo{
    position: relative;
    z-index: 1;
    font-family: 'Rasa', serif;
    font-size: 32px;
    font-weight: 300;
    float: left;
/*     background: green; */
}
#logo a{
    cursor: none;
    color: white;
}
#menu_btn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    z-index: 1;
    transition: all .3s ease-in-out;
    /* background: blue; */
    cursor: none;
}
#menu_btn_bar{
    width: 36px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgb(0, 110, 255, .2);
    transition: all .5s ease-in-out;
}
#menu_btn_bar:before, #menu_btn_bar:after{
    content: '';
    position: absolute;
    width: 36px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgb(255, 255, 255, .5);
    transition: all .5s ease-in-out;
}
#menu_btn_bar:before{
    transform: translateY(-12px);
}
#menu_btn_bar:after{
    transform: translateY(12px);
}
#menu_btn.click #menu_btn_bar{
    transform: translateX(-36px);
    background: transparent;
    box-shadow: none;
}
#menu_btn.click #menu_btn_bar:before{
    transform: rotate(45deg) translate(25px, -25px);
}
#menu_btn.click #menu_btn_bar:after{
    transform: rotate(-45deg) translate(25px, 25px);
}
#navigation{
    position: absolute;
    top: -20vh;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.85); 
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
#navigation.show{
    top: 0;
    height: 100vh;
    opacity: 1;
}
#navigation ul{
    position: relative;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    height: 25vh;
/*     background: blue; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Rasa', serif;
    font-size: 2.25em;
    font-weight: 300;
    text-transform: uppercase;
}
#navigation ul li{
    opacity: 0;
    transform: translateY(80px);
}
#navigation ul:hover li a{
    color: gray;
}
#navigation ul li a{
    cursor: none;
    color: white;
    transition: all .3s linear;
}
#navigation ul li a:hover{
    font-size: 1.1em;
    text-shadow: 5px 10px 3px rgba(255, 255, 255, 0.5);
    color: #39A0FF;
}
#navigation ul li a:before{
    content: '';
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7.5em;
    font-family: 'Megrim', cursive;
    color: transparent;
/*     z-index: -1; */
    opacity: 0;
    font-weight: bold;
    letter-spacing: 500px;
    transition: letter-spacing .7s ease, left .3s;
}
#navigation ul li a:hover:before{
    content: attr(data-text);
    opacity: 0.4;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 10px;
    text-shadow: none;
    width: 100vw;
    height: 200px;
     -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
    text-shadow: 0px 0px 5px rgba(57, 160, 255, 0.15), 0px 0px 10px rgba(57, 160, 255, 0.1) ,0px 0px 20px rgba(57, 160, 255, 0.1), 0px 0px 30px rgba(57, 160, 255, 0.3);
}
#navigation ul li:nth-child(1).pop{
    opacity: 1;
    transition: all 3s .1s;
    transform: translateY(0);
}
#navigation ul li:nth-child(2).pop{
    opacity: 1;
    transition: all 3s .3s;
    transform: translateY(0);
}
#navigation ul li:nth-child(3).pop{
    opacity: 1;
    transition: all 3s .5s;
    transform: translateY(0);
}
#navigation ul li:nth-child(4).pop{
    opacity: 1;
    transition: all 3s .7s;
    transform: translateY(0);
}
.blur{
    position: relative;
    width: 100%;
    height: 100vh;
    filter: blur(10px);
    transition: all .5s ease-in-out;
}
.checkbox{
	opacity: 0;
	position: absolute;
}
.label{
    position: fixed;
    top: 90px;
    right: 30px;
    width: 70px;
    height: 35px;
    border-radius: 50px;
    background-color: white;
    border: 2px solid #909090;
    cursor: none;
}
#light_icon{
    position: absolute;
    right: 4px;
    top: 2px;
    background: url(../images/light_mode.png) no-repeat;
    width: 31px;
    height: 33px;
    background-size: contain;
}
#dark_icon{
    position: absolute;
    left: 4px;
    top: 2px;
    background: url(../images/dark_mode.png) no-repeat;
    width: 31px;
    height: 33px;
    background-size: contain;
}
#switch{
    position: relative;
    left: 3px;
    top: 2.5px;
    width: 30px;
    height: 30px;
    background-color: #CECECE;
    border-radius: 50%;
    transition: transform 0.3s linear;
}
.checkbox:checked + .label{
    background-color: black;
}
.checkbox:checked + .label #switch{
	transform: translateX(34px);
}
.subpage_title{
    position: relative;
    top: 135px;
    text-align: center;
/*     background-color: blue; */
}
.main_title{
    font-family: 'Megrim', cursive;
    font-size: 2.8125em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin-bottom: 20px;
    transition: all 1s ease-in;
}
.main_title.dark_mode{
    color: white;
    text-shadow: 0px 1px 5px white;
}
.small_title{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.25em;
    color: #909090;
    letter-spacing: 0.05em;
}
#star_bg{
    position: fixed;
    width: 100%;
    height: 100.5vh;
    background-attachment: fixed;
    overflow: hidden;
}
generate_star{
    position: absolute;
    bottom: 0;
    background-color: white;
    border-radius: 50%;
    animation: starAnimate linear infinite;
}
@keyframes starAnimate{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    10%, 90%{
        opacity: 1;
        box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.3);
    }
    100%{
        opacity: 0;
        transform: translateY(-100vh);
    }
}