#portfolio_list{
    position: relative;
    float: left;
    margin-top: 220px;
    margin-bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 60px;
}
.list{
    position: relative;
    width: 100%;
    height: 480px;
    cursor: none;
    box-shadow: 0px 0px 10px 1px rgba(144, 144, 144, 0.3);
}
.preview_img{
    overflow: hidden;
}
.preview_img:before{
    content: 'M';
    color: white;
    font-size: 0.8em;
    line-height: 26px;
    text-indent: 9px;
    position: absolute;
    right: 57px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: url(../images/smartphone_icon.png) no-repeat center;
    background-size: contain;
    z-index: 1;
}
.preview_img:after{
    content: 'PC';
    color: white;
    font-size: 0.8em;
    line-height: 28px;
    text-indent: 10px;
    position: absolute;
    right: 15px;
    top: 8px;
    width: 35px;
    height: 35px;
    background: url(../images/desktop_icon.png) no-repeat center;
    background-size: contain;
    z-index: 1;
}
.list div{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: all .3s ease;
}
#tobe{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: url(../images/portfolio_0.jpg) no-repeat;
    background-size: cover;
    transition: all .7s ease;
    opacity: 1;
}
#tobe.view{
    position: absolute;
    width: 220%;
    height: 350px;
    top: -300px;
    left: -25px;
    background: url(../images/tobe_preview.jpg) no-repeat center;
    background-size: cover;
    z-index: 1;
    transition: all .6s ease;
    opacity: 0;
}
#samueladams{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    background: url(../images/portfolio_1.jpg) no-repeat;
    background-size: cover;
    transition: all .7s ease;
    opacity: 1;
}
#samueladams.view{
    position: absolute;
    width: 220%;
    right: -25px;
    height: 350px;
    top: -300px;
    background: url(../images/samueladams_preview.jpg) no-repeat center;
    background-size: cover;
    transition: all .6s ease-out;
    opacity: 0;
}
#portfolio{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    background: url(../images/main_0.jpg) no-repeat center;
    background-size: cover;
    transition: all .7s ease;
    opacity: 1;
}
#portfolio.view{
    position: absolute;
    width: 220%;
    height: 350px;
    top: -840px;
    left: -25px;
    background: url(../images/main_0.jpg) no-repeat center;
    background-size: cover;
    z-index: 1;
    transition: all .6s ease;
    opacity: 0;
}
#wedding{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    background: url(../images/wedding.jpg) no-repeat center;
    background-size: cover;
    transition: all .7s ease;
    opacity: 1;
}
#wedding.view{
    position: absolute;
    width: 220%;
    height: 350px;
    top: -840px;
    right: -25px;
    background: url(../images/wedding.jpg) no-repeat center;
    background-size: cover;
    z-index: 1;
    transition: all .6s ease;
    opacity: 0;
}
#funny_flakes{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    background: url(../images/funny_flakes.png) no-repeat center;
    background-size: cover;
    transition: all .7s ease;
    opacity: 1;
}
#funny_flakes.view{
    position: absolute;
    width: 220%;
    height: 350px;
    top: -840px;
    left: -25px;
    background: url(../images/funny_flakes.png) no-repeat center;
    background-size: cover;
    z-index: 1;
    transition: all .6s ease;
    opacity: 0;
}
#brunch{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    background: url(../images/brunch.png) no-repeat center;
    background-size: cover;
    transition: all .7s ease;
    opacity: 1;
}
#brunch.view{
    position: absolute;
    width: 220%;
    height: 350px;
    top: -840px;
    left: -25px;
    background: url(../images/brunch.png) no-repeat center;
    background-size: cover;
    z-index: 1;
    transition: all .6s ease;
    opacity: 0;
}
.list div.color{
    filter: grayscale(0);
}
.list div:hover{
    transform: scale(1.05);
}
.list p{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 30%;
    color: white;
    font-family: 'Ubuntu Mono', 'BBTreeGL', monospace;
    opacity: 1;
    transition: all .6s cubic-bezier(0, 0.26, 0.73, 1.39);
}
.list p.show{
    top: 70%;
/*     height: 100%; */
    opacity: 1;
}
.list p:before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 110%;
    background-color: rgba(255, 255, 255, 0.1);
}
.list p.dark_mode:before{
    background-color: rgba(0, 0, 0, 0.2);
}
.portfolio_title{
    text-indent: 15px;
    position: absolute;
    bottom: 50px;
    font-size: 1.5em;
/*     background-color: green; */
}
.portfolio_description{
    text-indent: 15px;
    position: absolute;
    bottom: 20px;
    font-size: 1.25em;
/*     background-color: blue; */
}
.view_portfolio{
    position: absolute;
    top: 0;
    width: 100%;
/*     height: 100%; */
    background: linear-gradient(0deg, rgba(225,225,225,1) 0%, rgba(255,255,255,0.7) 100%);
    z-index: 3;
    opacity: 0;
    transform: scale(1.2);
    transition: all 1s ease;
}
.view_portfolio.down{
    transform: scale(1);
    opacity: 1;
}
.view_portfolio.dark_mode{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 100%);
}
/* .view_portfolio.hide{
    display: none;
} */
.view_inner{
    width: 1200px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.top_preview{
    position: relative;
    top: 0;
    width: 100%;
    height: 350px;
    /* background: url(../images/portfolio_preview_0.png) no-repeat center;
    background-size: cover; */
}
.close_btn{
    position: relative;
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/close_icon.png) no-repeat center;
    margin: 15px 13px 0 0;
    background-size: contain;
}
.close_btn.dark_mode{
    background: url(../images/close_icon_white.png) no-repeat center;
    background-size: contain;
}
.description_box{
    position: relative;
    width: 100%;
    left: 0;
    min-height: 400px;
    float: left;
    top: 55px;
}
.description_box.dark_mode{
    color: white;
}
.project_title{
    position: absolute;
}
.project_title p:first-child{
    font-family: 'Megrim', cursive;
    font-size: 2.5em;
    margin-bottom: 10px;
}
.project_title p:nth-child(2){
    font-family: 'Rajdhani', sans-serif, 'NanumBarunpen';
    font-size: 1em;
    letter-spacing: 0.5px;
}
.github{
    position: relative;
    float: left;
    top: 80px;
    background: url(../images/github.png) no-repeat center;
    background-size: contain;
    width: 27px;
    height: 27px;
    color: black;
    cursor: none;
    transition: all .5s ease;
}
.github:after{
    content: 'github';
    position: absolute;
    left: 35px;
    line-height: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 1em;
}
.github:hover{
    opacity: 0.6;   
}
.github.dark_mode{
    color: white;
    background: url(../images/github_white.png) no-repeat center;
    background-size: contain;
}
.project_info{
    position: absolute;
    top: 0;
    margin-top: 75px;
    right: 0;
    width: 58.33%;
}
.project_info div{
    font-family: 'Rajdhani', 'NanumBarunpen', sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}
.project_info div:last-child{
    margin-bottom: 0;
}
.info_title{
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 15px;
}
.info_text{
    font-size: 1em;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
}
.web_address{
    color: rgb(0, 110, 255);
    transition: all .5s ease;
    font-weight: 500;
    cursor: none;
}
.web_address:hover{
    color: rgb(89, 161, 255);
}
.view_file{
    position: absolute;
    width: 100%;
    font-size: 0.9em;
    margin-top: 5px;
    text-align: right;
}
.view_file a{
    font-style: oblique;
    display: inline-block;
    color: black;
    font-weight: 500;
    cursor: none;
    transition: all .5s ease;
    padding: 0 0 15px 15px;
    margin-right: 5px;
}
.view_file a.dark_mode{
    color: white;
}
.view_file a:last-child{
    margin-right: 0px;
}
.view_file a:hover{
    color: #909090;
}
.view_file a:nth-child(n):after{
    content: '';
    position: relative;
    display: inline-block;
    top: 3px;
    margin-left: 7px;
    width: 13px;
    height: 13px;
    background: url(../images/download.png) no-repeat;
    background-size: contain;
/*     animation: shakeAnimate .7s infinite; */
}
@keyframes updownAnimate{
    0%, 100%{
        transform: translateY(-3px);
    }
    50%{
        transform: translateY(0);
    }
}
.project_link{
    position: absolute;
    top: 0;
    margin-top: 190px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1em;
    letter-spacing: 0.5px;
    font-weight: 400;
}
.project_link a{
    color: black;
    position: relative;
    top: -7px;
    margin-left: 30px;
    padding-right: 10px;
    font-weight: 600;
    transition: all .5s ease;
    cursor: none;
}
.project_link a.dark_mode{
    color: white;
}
.project_link a:hover{
    color: #909090;
}
.project_link a:after{
    content: '';
    position: relative;
    left: 7px;
    top: 2px;
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(../images/link.png) no-repeat center;
    background-size: contain;
}
.languages{
/*     width: 22.08%; */
    width: 265px;
    height: 85px;
    position: absolute;
    top: 0;
    margin-top: 250px;
    font-weight: 300;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.languages span{
    margin-bottom: 10px;
}
.css{
    width: 0;
    height: 10px;
    border-radius: 5px;
    background-color: #29A5FF;
    animation: graphAnimate 2s linear;
    animation-delay: .5s;
}
.css:after{
    /* content: 'CSS'; */
    position: relative;
    display: block;
    width: 180px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 0.875em;
    font-weight: 400;
/*     width: 100%; */
    left: 100%;
    text-indent: 10px;
}
@keyframes graphAnimate{
    0%{
        width: 0;
    }
}
.html{
    width: 0;
    height: 10px;
    border-radius: 5px;
    background-color: #FF7A00;
    animation: graphAnimate 2.5s linear;
    animation-delay: .5s;
}
.html:after{
    position: relative;
    display: block;
    /* content: 'HTML'; */
    font-family: 'Rajdhani', sans-serif;
    font-size: 0.875em;
    font-weight: 400;
    width: 180px;
    left: 100%;
    text-indent: 10px;
}
.js{
    width: 0;
    height: 10px;
    border-radius: 5px;
    background-color: #FFF500;
    animation: graphAnimate 2.5s linear;
    animation-delay: .5s;
}
.js:after{
    position: relative;
    display: block;
    /* content: 'JavaScript'; */
    font-family: 'Rajdhani', sans-serif;
    font-size: 0.875em;
    font-weight: 400;
    left: 100%;
    width: 180px;
    text-indent: 10px;
}
.video{
    position: relative;
    margin-top: 130px;
    float: left;
    width: 100%;
    height: 502px;
/*     object-fit: cover; */
    background-color: black;
    overflow: hidden;
}
.video iframe{
    position: absolute;
    top: 54.5%;
    left: 50%;
    width: 100%;
    height: 109%;
    transform: translate(-50%, -50%);
}
.project_logo{
    margin-top: 130px;
    position: relative;
    width: 100%;
    height: 670px;
    float: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}
.logo1{
    background: url(../images/logo_big.png) no-repeat center;
    background-size: auto 110px;
    background-color: #FFB000;
}
.logo2{
    box-sizing: border-box;
    border: 2px solid #FFB000;
    background: url(../images/logo_solo.png) no-repeat center;
    background-size: auto 115px;
    background-color: white;
}
.logo3{
    grid-column: span 2;
    background: url(../images/logo_small.png) no-repeat center;
    background-size: auto 145px;
    background-color: #191919
}
.project_mockup{
    margin: 130px 0 80px 0;
    position: relative;
    width: 100%;
    height: 970px;
    float: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 44% 56%;
    grid-gap: 20px;
}
.mockup3{
    grid-column: span 2;
}
.go_top{
    position: fixed;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.35);
    transition: all .7s ease;
    opacity: 0;
    z-index: 3;
}
.go_top:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/arrow_icon.png) no-repeat center;
    transform: rotate(180deg);
    background-size: 40px 40px;
}
.go_top.show{
    top: 0;
    opacity: 1;
}