@media screen and (max-width:1200px){
    body{
        font-size: 0.95em;
    }
    #nav_inner{
        width: 97%;
    }
}
@media screen and (max-width:768px){
    body{
        font-size: 0.9em;
    }
    .label{
        top: 85px;
        right: 10px;
        width: 60px;
        height: 30px;
        border-radius: 25px;
    }
    #light_icon{
        right: 4px;
        top: 2px;
        width: 27px;
    }
    #dark_icon{
        left: 4px;
        top: 2px;
        width: 27px;
    }
    #switch{
        width: 24.5px;
        height: 24.5px;
    }
    .checkbox:checked + .label #switch{
        transform: translateX(29px);
    }
}
@media screen and (max-width: 650px){
    #nav_inner{
        width: 95%;
    }
}
@media screen and (max-width:480px){
    body{
        font-size: 0.85em;
    }
    #nav_bg{
        height: 60px;
    }
    #navigation ul{
        height: 300px;
        font-size: 3em;
    }
    #logo{
        line-height: 60px;
    }
    #logo.kor{
        line-height: 65px;
    }
    #menu_btn{
        width: 35px;
        height: 35px;
    }
    #menu_btn_bar{
        width: 35px;
        height: 3px;
    }
    #menu_btn_bar:before, #menu_btn_bar:after{
        width: 35px;
        height: 3px;
    }
    #menu_btn_bar:before{
    transform: translateY(-11px);
    }
    #menu_btn_bar:after{
        transform: translateY(11px);
    }
    #language_option{
        right: 55px;
    }
    .label{
        top: 75px;
        width: 60px;
    }
    .main_title{
        font-size: 2.55em;
        letter-spacing: 0.45em;
        margin-bottom: 15px;
    }
    .small_title{
        font-size: 1.25em;
        letter-spacing: 0.045em;
    }
}
@media screen and (max-width:320px){
    #nav_inner{
        width: 93%;
    }
    #navigation ul{
        height: 270px;
        font-size: 2.7em;
    }
    #language_option{
        right: 50px;
    }
}